<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TMS.Properties.Settings.TmsDbConnectionString" connectionString="Data Source=DESKTOP-C2IN8KT;Initial Catalog=TmsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TmsDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities2" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities3" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntitiess" connectionString="metadata=res://*/ShippModel1.csdl|res://*/ShippModel1.ssdl|res://*/ShippModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities4" connectionString="metadata=res://*/ShippReportModell.csdl|res://*/ShippReportModell.ssdl|res://*/ShippReportModell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntitiesSR" connectionString="metadata=res://*/ModelSR.csdl|res://*/ModelSR.ssdl|res://*/ModelSR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities5" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities6" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities7" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TmsDbEntities8" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShippReportTmsDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2IN8KT;initial catalog=TmsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <TMS.Properties.Settings>
      <setting name="CustomerNum" serializeAs="String">
        <value />
      </setting>
      <setting name="Driver" serializeAs="String">
        <value />
      </setting>
      <setting name="KindTran" serializeAs="String">
        <value />
      </setting>
      <setting name="Isred" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cusrtomer_Hold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Driver_Hold" serializeAs="String">
        <value>False</value>
      </setting>
    </TMS.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ApiService" />
        <binding name="BasicHttpBinding_ApiService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apiqa.invoice4u.co.il/Services/ApiService.svc/Soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ApiService" contract="ServiceReference1.ApiService" name="BasicHttpBinding_ApiService" />
      <endpoint address="https://apiqa.invoice4u.co.il/Services/ApiService.svc/Soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ApiService1" contract="ServiceReference1.ApiService" name="BasicHttpBinding_ApiService1" />
    </client>
  </system.serviceModel>
</configuration>